In [33]:
import pandas as pd

# Define the path to your Excel file
file_path = '/content/Final_report.csv'

# Read the Excel file
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame to understand its structure
print(df.head())
# Print column names to verify
print(df.columns)

   Year  Total Revenue  Net Income  Total Assets  Total Liabilities  \
0  2023         211915       72361        411976             205753
1  2022         198270       72738        364840             198298
2  2021         168088       61271        333779             191791
3  2023          96773       14974        106618              43009
4  2022          81462       12556         82338              36440

   Cash Flow from Operating Activities    Company
0                                87582  Microsoft
1                                89035  Microsoft
2                                76740  Microsoft
3                                13256      Tesla
4                                14724      Tesla
Index(['Year', 'Total Revenue', 'Net Income', 'Total Assets',
       'Total Liabilities', 'Cash Flow from Operating Activities', 'Company'],
      dtype='object')

In [35]:


# Calculate year-over-year growth rates for Total Revenue and Net Income
df['Revenue Growth (%)'] = df.groupby('Company')['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby('Company')['Net Income'].pct_change() * 100

# Fill NA values that result from pct_change calculations with 0 or an appropriate value
df.fillna(0, inplace=True)

# Display the dataframe to verify the calculations
print(df)

# Optionally, you could summarize these findings for each company
summary = df.groupby('Company').agg({
    'Revenue Growth (%)': 'mean',
    'Net Income Growth (%)': 'mean'
}).reset_index()

print("\nYear-over-Year Average Growth Rates (%):")
print(summary)

   Year  Total Revenue  Net Income  Total Assets  Total Liabilities  \
0  2023         211915       72361        411976             205753
1  2022         198270       72738        364840             198298
2  2021         168088       61271        333779             191791
3  2023          96773       14974        106618              43009
4  2022          81462       12556         82338              36440
5  2021          53821        5519         62131              30548
6  2023         383285       96995        352583             290437
7  2022         394328       99803        352755             302083
8  2021         365817       94680        351002             287912

   Cash Flow from Operating Activities    Company  Revenue Growth (%)  \
0                                87582  Microsoft            0.000000
1                                89035  Microsoft           -6.438902
2                                76740  Microsoft          -15.222676
3                                13256      Tesla            0.000000
4                                14724      Tesla          -15.821562
5                                11497      Tesla          -33.931158
6                               110543      Apple            0.000000
7                               122151      Apple            2.881146
8                               104038      Apple           -7.230275

   Net Income Growth (%)
0               0.000000
1               0.520999
2             -15.764800
3               0.000000
4             -16.147990
5             -56.044919
6               0.000000
7               2.894995
8              -5.133112

Year-over-Year Average Growth Rates (%):
     Company  Revenue Growth (%)  Net Income Growth (%)
0      Apple           -1.449710              -0.746039
1  Microsoft           -7.220526              -5.081267
2      Tesla          -16.584240             -24.064303